:root{
    --purple: #483285;
    --black: #161819;
    --red: #E9365F;
}
span{
    color: var(--red);
}
.button{
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: var(--red) !important;
    color: aliceblue !important;
    border: none !important; 
    border-radius: 0% !important;
}
.button:hover{
    background-color: var(--black) !important;
    transition: 0.4s !important;
    color: var(--red) !important;
}
body{
    margin: 0px;
}
.div-1{
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    border-bottom: 1px solid var(--purple);
}
.div-1-try{
    background-color: var(--black);
}
.div-2{
    border-bottom: 2px solid var(--red);
    height: 11vh;
    width: 100%;
}
.div-3{
    margin-top: 8%;
    height: 45vh;
    width: 29%;
    margin-left: 80px;
    margin-right: -75px;
    display: inline-block;
    background-color: #1B1E1F;
}
.div-3:hover{
    border: 3px solid var(--red);
}
.div-3 img{
    width: 100px;
    height: 100px;
    margin-bottom: -120px;
    margin-left: 150px;
}
.div-3 h3{
    display: inline-block;
    color: aliceblue;
    margin-top: 130px;
    margin-left: 25px;
}
.div-3 p{
    margin-left: 25px;
    width: 370px;
    margin-top: 10px;
    color: gray;
    display: inline-block;
}
.div-3 a{
    margin-top: 10px;
    margin-left: 25px;
    display: inline-block;
    color: var(--red);
    text-decoration: none;
}
.div-3 a:hover{
    color: var(--red);
    font-size: 17px;
}
.Know-more{
    text-align: center;
    margin-top: 20px;
}
.Know-more a{
    color: var(--red);
    text-decoration: none;
}
.Know-more a:hover{
    color: var(--red);
    font-size: large;
}
.div-4{
    margin-top: 2%;
    height: 25vh;
    width: 88%;
    margin-left: 80px;
    background-color: #000;
}
.sub-div-4{
    height: 75%;
    width: 200px;
    background-color: #1B1E1F;
    display: inline-block;
    margin-top: 22px;
    margin-left: 30px;
    margin-right: -15px;
    float: inline-start;
}
.sub-div-4 img{
    height: 52%;
    margin-left: 58px;
    margin-top: 10px;
}
.sub-div-4 p{
    text-align: center;
    margin-top: 15px;
    font-size: 19px;
    color: var(--red);
}
.sub-div-4:hover{
    background-color: #E9365F;
}
.sub-div-4:hover p{
    color: aliceblue;
}
.div-16-1{
    height: 160px;
    margin-top: 120px;
    width: 310px;
    margin-left: 70px;
    position: absolute;
}
.div-16-1 img{
    width: 100%;
}
.div-16-2{
    height: 360px;
    margin-top: 310px;
    width: 310px;
    margin-left: 70px;
    position: absolute;
}
.div-16-2 img{
    width: 100%;
    float: right;
}
.div-16-3{
    height: 480px;
    margin-top: 220px;
    width: 310px;
    margin-left: 400px;
    position: absolute;
}
.div-16-3 img{
    width: 100%;
    height: 100%;
}
.div-16-4{
    height: 100%;
    width: 48%;
    margin-left: 52%;
    position: absolute;
}
.div-16-4 h1{
    font-size: 70px;
    color: aliceblue;
    margin-top: 180px;
}
.div-16-4 p{
    font-size: 20px;
    color: gray;
    margin-top: 30px;
}
.div-16-4 button{
    font-size: 20px;
    margin-top: 20px;
}
.div-16-4 a{
    color: aliceblue;
    text-decoration: none;
}
.div-16-4 a:hover{
    color: var(--red);
    text-decoration: none;
}
.div-5{
    height: 15vh;
    width: 100%;
}
.div-5 p{
    color: aliceblue;
    font-size: 65px;
    padding-top: 20px;
    padding-left: 130px;
}
.div-6{
    height: 34%;
    width: 36%;
    margin-left: 130px;
    margin-right: -110px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 10%;
    float: inline-start;
}
.div-6:hover{
    background-color: var(--red);
    transition-duration: 0.8s;
}
.div-6:hover img{
    margin: -2px;
    transition-duration:0.8s;
}
.div-6 img{
    border-radius: 10%;
    width: 97%;
    height: 97%;

}
.div-17{
    background-color: #000;
    height: 90%;
    width: 190px;
    margin-left: 1290px;
    margin-top: -80px;
    padding-top: 5px;
}
.sub-div-17-1{
    background-color: #483285;
    width: 75%;
    height: 120px;
    margin-top: 35px;
    margin-left: 25px;
}
.sub-div-17-1 img{
    width: 100%;
    height: 100%;
}
.sub-div-17-1 img:hover{
    transform: scale(1.05); 
}
.sub-div-17-2{
    background-color: #483285;
    width: 75%;
    height: 35px;
    margin-top: 30px;
    margin-left: 25px;
}
.sub-div-17-2 button{
    width: 100%;
    margin-top: -5%;
}
.div-7{
    background-color: var(--black);
    height: 80vh;
    width: 100%;
}
.div-8{
    background-image: linear-gradient(270deg, rgb(34, 37, 38), rgb(22, 24, 25));
    height: 60vh;
    width: 47%;
    margin-top: 5%;
    position: absolute;
}
.div-8 h2{
    color: aliceblue;
    font-size: 55px;
    width: 500px;
    margin-top: 150px;
    margin-left: 70px;
}
.div-9-1{
    height: 22vh;
    width: 17vw;
    border: 2px solid gray;
    margin-top: 115px;
    margin-left: 620px;
    margin-right: -650px;
    margin-bottom: -70px;
    position: absolute;
    display: inline-block;
    background-color: #1B1E1F;
    float: inline-start;
}
.div-9-2{
    height: 22vh;
    width: 17vw;
    border: 2px solid gray;
    margin-top: 115px;
    margin-left: 620px;
    margin-right: -650px;
    margin-bottom: -70px;
    position: absolute;
    display: inline-block;
    background-color: #1B1E1F;
    float: inline-start;
}
.div-9-1 img{
    max-width: 80%;
    margin-top: 45px;
    margin-left: 24px;
}
.div-9-2 img{
    max-width: 85%;
    margin-top: 45px;
    margin-left: 20px;
}
.div-9{
    height: 22vh;
    width: 17vw;
    border: 2px solid gray;
    margin-top: 115px;
    margin-left: 910px;
    margin-right: -880px;
    margin-bottom: -65px;
    display: inline-block;
    background-color: #1B1E1F;
}
.div-9 img{
    max-width: 85%;
    margin-top: 45px;
    margin-left: 20px;
}
.div-9-1:hover{
    border: 5px solid var(--red);
    transition: 0.4s;
}
.div-9-2:hover{
    border: 5px solid var(--red);
    transition: 0.4s;
}
.div-9:hover{
    transition: 0.4s;
    border: 5px solid var(--red);
}
.div-10{
    background-color: var(--black);
    height: 80vh;
    width: 100%;
}
.div-11{
    background-color: #000;
    height: 92vh;
    width: 100%;
}
.div-12{
    background-color: #000;
    height: 60vh;
    margin-top: 157px;
    position: absolute;
    width: 85%;
    margin-left: 110px;
    color: aliceblue;
    background-image: url("https://test4you.in/wordpress_api_demo/wp-content/uploads/2022/11/bgshort-1.webp");
}
.div-12 h3{
    /* margin-left: 370px; */
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
}
.div-12 p{
    width: 450px;
    text-align: center;
    margin-left: 430px;
    font-size: 15px;
}
.div-12 button{
    margin-left: 570px;
    width: 160px;
    font-size: 18px;
}
.div-12 a{
    color: aliceblue;
    text-decoration: none;
}
.div-12 .button:hover a{
    color: var(--red);
}
.div-13{
    background-color: var(--black);
    height: 35vh;
    width: 85%;
    margin-left: 110px;
}
.sub-div-13-1{
    width: 49.8%;
    height: 100%;
    border-right: 1px solid var(--red);
    display: inline-block;
    float: inline-start;
}
.sub-div-13-2{
    width: 49.8%;
    height: 100%;
    display: inline-block;
    float: inline-start;
}
.sub-div-13-1 p{
    margin-left: 100px;
    color: gray;
    font-size: 20px;
    width: 350px;
}
.sub-div-13-1 span{
    cursor: pointer;
}
.sub-div-13-1 h3{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 100px;
    color: aliceblue;
    font-size: 30px;
}
.sub-div-13-2 p{
    margin-left: 100px;
    color: gray;
    font-size: 20px;
    width: 350px;
}
.sub-div-13-2 span{
    cursor: pointer;
}
.sub-div-13-2 h3{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 100px;
    color: aliceblue;
    font-size: 30px;
}
.div-14{
    height: 30vh;
    display: inline-block;
    width: 85%;
    margin-left: 110px;
    float: inline-start;
}
.div-14 p{
    margin-top: 50px;
    color: aliceblue;
    display: inline-block;
    font-size: 40px;
    width: 372px;
    border-right: 1px solid aliceblue;
}
.div-14 img{
    margin-top: -180px;
    margin-left: 400px;
    margin-right: -350px;
    max-height: 110px;
    width: auto;
    display: inline-block;
}
.div-15{
    height: 18vh;
    width: 85%;
    margin-left: 110px;
    display: inline-block;
    border-bottom:2px solid var(--purple);
    border-top:2px solid var(--purple);
    color: #E9365F;
}
.logo-div{
    height: 18vh;
    width: 270px;
    float: inline-start;
    background-color: #E9365F;
}
.footer-nav{
    width: 600px;
    height: 8vh;
    margin-top: 40px;
    float: inline-start;
}
.footer-nav a{
    color: aliceblue;
    
}
.footer-nav a:hover{
    color: var(--red);
}
.footer-social{
    margin-left: 270px;
    width: 350px;
    height: 8vh;
    margin-top: -62px;
    float: inline-end;
}
.men{
    font-size: 25px;
    margin-left: auto;
}
.social{
    margin: auto;
    font-size: 30px;
    padding: 8px;
}
.footer-social a{
    color: var(--red);
}
.footer-social a:hover{
    color: aliceblue;
}
.div-1-JT h1{
    margin-top: 200px;
    color: aliceblue;
    margin-left: 280px;
    font-size: 70px;
}
.div-1-JT p{
    margin-top: 30px;
    color: lightgrey;
    margin-left: 400px;
    font-size: 25px;
}
.JT-div1-btn{
    margin-top: 10px;
    color: aliceblue;
    margin-left: 680px;
    background-color: var(--red);
    border: none;
    padding: 10px;
    width: 160px;
    font-size: 18px;
}
.div-1-JT{
    background-color: var(--black);
    height: 90vh;
    width: 100%;
    border-bottom: 1px solid var(--purple);
}
.div-1-JT .container img{
    margin-top: 60px;
    height: 600px;
    width: 1300px;
}
.div-3-JT{
    /* display: inline-block; */
    width: 50%;
    height: 100%;
    float: left;
    background-color: var(--black);
}
.div-3-JT h1{
    padding-top: 250px;
    color: aliceblue;
    margin-left: 60px;
    font-size: 70px;
}
.div-3-JT p{
    margin-left: 60px;
    margin-top: 30px;
    color: gray;
    width: 650px;
    font-size: 18px;
}
.div-2-JT{
    background-color: #1B1E1F;
    height: 100vh;
    width: 100%;
    border-bottom: 1px solid var(--purple);
}
/* .row .col .container{
    border: 1px solid wheat;
    float: inline-start;
} */
.row .col .container img{
    margin-top: 30px;
    height: 70px;
}
.row .col .container h4{
    color: aliceblue;
    margin-top: 20px;
}
.row .col .container p{
    color: gray;
    margin-top: 10px;
}
.div-4-JT-1{
    width: 100%;
    height: 270px;
    color: aliceblue;
}
.div-4-JT-1 h1{
    font-size: 45px;
    margin-left: 230px;
    margin-right: 240px;
    padding-top: 70px;
}
.div-4-JT-2{
    position: absolute;
    margin-left: 100px;
    width: 290px;
    height: 280px;
    background-color: var(--purple);
    opacity: 0.1;
}
.div-4-JT-3{
    position: absolute;
    margin-left: 100px;
    margin-top: 300px;
    width: 290px;
    height: 210px;
    background-color: var(--purple);
    opacity: 0.1;
}
.div-4-JT-4{
    position: absolute;
    margin-left: 410px;
    width: 290px;
    height: 160px;
    background-color: var(--purple);
    opacity: 0.1;
}
.div-4-JT-5{
    margin-top: 180px;
    position: absolute;
    margin-left: 410px;
    width: 290px;
    height: 320px;
    background-color: var(--purple);
    opacity: 0.1;
}
.div-4-JT-6{
    position: absolute;
    margin-left: 720px;
    width: 370px;
    height: 200px;
    background-color: var(--purple);
    opacity: 0.1;
}
.div-4-JT-7{
    margin-top: 220px;
    position: absolute;
    margin-left: 720px;
    width: 175px;
    height: 280px;
    background-color: var(--purple);
    opacity: 0.1;
}
.div-4-JT-8{
    margin-top: 220px;
    opacity: 0.1;
    position: absolute;
    margin-left: 915px;
    width: 175px;
    height: 280px;
    background-color: var(--purple);
}
.div-4-JT-9{
    position: absolute;
    margin-left: 1110px;
    width: 290px;
    height: 500px;
    opacity: 0.1;
    background-color: var(--purple);
}
.div-4-JT-2:hover{
    opacity: 1;
    transition: 0.7s;
}
.div-4-JT-3:hover{
    opacity: 1;
    transition: 0.7s;
}
.div-4-JT-4:hover{
    opacity: 1;
    transition: 0.7s;
}
.div-4-JT-5:hover{
    opacity: 1;
    transition: 0.7s;
}
.div-4-JT-6:hover{
    opacity: 1;
    transition: 0.7s;
}
.div-4-JT-7:hover{
    opacity: 1;
    transition: 0.7s;
}
.div-4-JT-8:hover{
    opacity: 1;
    transition: 0.7s;
}
.div-4-JT-9:hover{
    opacity: 1;
    transition: 0.7s;
}
.div-4-JT-2 img{
    width: 100%;
    height: 100%;
}
.div-4-JT-3 img{
    width: 100%;
    height: 100%;
}
.div-4-JT-4 img{
    width: 100%;
    height: 100%;
}
.div-4-JT-5 img{
    width: 100%;
    height: 100%;
}
.div-4-JT-6 img{
    width: 100%;
    height: 100%;
}
.div-4-JT-7 img{
    width: 100%;
    height: 100%;
}
.div-4-JT-8 img{
    width: 100%;
    height: 100%;
}
.div-4-JT-9 img{
    width: 100%;
    height: 100%;
}
.div1-JT-h1{
    padding-top: 100px;
    font-size: 60px;
}
.div-5-JT{
    background-color: #483285;
    width: 900px !important;
    height: 450px;
    margin-left: 350px;
    margin-top: 50px;
}
.roles-nav{
    padding: 10px;
}
.roles{
    width: 25%;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}
.roles a{
    color: var(--red);
}
.roles a:hover{
    color: aliceblue;
    background-color: var(--red);
}
.job-roles{
    background-color: var(--red);
    display: inline-block;
    margin-top: 5%;
    margin-left: 33%;
    width: 300px;
    height: 300px;
}
.ai-ml{
    margin-left: 10%;
}
.div-JT-6{
    height: 100%;
    width: 80%;
    margin-left: 10%;
    color: aliceblue;
    background-image: url("https://test4you.in/wordpress_api_demo/wp-content/uploads/2022/11/bgshort-1.webp");
    position: absolute;
}
.div-JT-6 h1{
    width: 70%;
    margin-left: 17%;
    font-size: 60px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
}
.div-JT-6 p{
    width: 70%;
    margin-left: 17%;
    font-size: 20px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}
.div-JT-6 button{
    margin-left: 45%;
}
.form-field{
    display: inline-block;
    width: 350px;
    margin-left: 20%;
    margin-right: -15%;
}
.form-field input{
    background-color: rgba(34, 37, 38, 0.55);
}
.cv{
    border: 3px dashed gray;
    width: 64%;
    margin-left: 20%;
    margin-top: 5%;
    height: 100px;
}
.cv p{
    width: 500px;
    /* background-color: #483285; */
    display: inline-block;
    margin-top: 18px;
    margin-left: 10px;
}
.cv button{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-right: 27px;
    margin-top: -65px;
    float: inline-end;
}
.div-1-au{
    background-color: var(--black);
    height: 120vh;
    width: 100%;
    border-bottom: 1px solid var(--purple);
}
.div-1-au-img{
    margin-top: 2vh;
    height: 107vh;
    float: right;
}
.div-1-au h1{
    font-size: 70px;
    width: 650px;
    color: aliceblue;
    margin-top: 250px;
    margin-left: 60px;
}
.div-1-au p{
    width: 650px;
    margin-left: 60px;
    color: gray;
    font-size: 20px;
}
.div-2-au{
    background-color: var(--black);
    height: 160vh;
    width: 100%;
    border-bottom: 1px solid var(--purple);
}
.div-2-au h1{
    font-size: 70px;
    width: 60%;
    color: aliceblue;
    padding-top: 80px;
    margin-left: 30%;
}
.div-2-au p{
    font-size: 20px;
    width: 50%;
    color: gray;
    text-align: center;
    padding-top: 5px;
    margin-left: 25%;
}
.expertise{
    display: inline-block;
    float: inline-start;
    width: 630px;
    height: 250px;
    background-color: #1B1E1F;
    margin-left: 100px;
    margin-right: -30px;
    margin-top: 70px;
}
.expertise:hover{
    border-bottom: 10px solid var(--red);
    border-left: 10px solid var(--red);
    transition: 0.5s;
}
.expertise h5{
    margin-left: 12%;
    margin-right: 5%;
    color: aliceblue;
    font-size: 30px;
    margin-top: 7%;
}
.expertise p{
    margin-left: 12%;
    width: 78%;
    text-align: left;
    color: gray;
}
.div-3-au{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    /* background-color: #483285; */
    -top: 20%;
}
.heading-1{
    text-align: center;
    font-size: 50px;
    color: aliceblue;
    padding-top: 5%;
    padding-bottom: 3%;
}
.div-3-au .row{
    height: 30% !important;
    list-style: none;
    /* border:2px solid  #E9365F; */
}
.div-3-au .col{
    /* border:2px solid  gray; */
    background-color: #1B1E1F;
    margin-bottom: -11px;
    margin-left: -10px;
    margin-right: 15px;
}
.div-3-au .col:hover{
    border-bottom:4px solid  var(--red);
    transition: 0.2s;
}
.div-3-au img{
    margin: 20px;
    margin-left: 70px;
}
.container-au{
    background-color: #483285;
    width: 84%;
    height: 80%;
    margin-left: 8%;
}
.div-4-au{
    height: 115vh;
}






































.div-1-c{
    background-color: #202325;
    margin-top:10% !important;
    margin-left: 0px !important;
    width: 70% !important;
}
.div-1-c p{
    padding-top: 7%;
    padding-bottom: 3%;
    padding-left: 1%;
    color: aliceblue;
    width: 100%;
    font-size: 32px;
}
.div-1-c input{
    border: none;
    background-color: initial;
    outline: initial;
    color: var(--red);
    border-bottom: 2px solid gray;
}
.div-1-c input:hover{
    border: none;
    border-bottom: 2px solid var(--red);
    color: var(--red);
}
.touch{
    margin-left: 1%;
    margin-bottom: 3%;
}
.div-2-c{
    background-color: var(--black);
    /* height: 60vh;
    width: 100%; */
    /* border-bottom: 1px solid var(--purple); */
}
.div-3-c{
    width: 90% !important;
    /* background-color: #123424; */
}
.sub-div-3-c{
    margin-top: 2%;
    height: 32vh;
    width: 44% !important;
    margin-left: 7% !important;
    margin-right: -5% !important;
    display: inline-block !important;
    background-color: #1B1E1F;
}
.div-2-c p{
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    padding-top: 8%;
}
.div-4-c{
    background-color: var(--black);
    height: 80vh;
    width: 100%;
    border-bottom: 1px solid var(--purple);
}
.div-6-c{
    margin-top: 10%;
}